<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header jobs-background-color">
            <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
            <!-- <div class="top-left-part">
                <a [routerLink]="'/'">
                    <img src="/assets/img/jobs.af.png" alt="jobs-img">
                </a>
            </div> -->

            <div class="top-left-part">
                <a class="logo" href="javascipt:void(0)">
                    <b>
                        <img src="assets/img/jobs.af.png" alt="jobs-img" style="max-height: 70px;width:65px;padding:10px;margin-bottom: -9px;">
                    </b>
                    <span class="hidden-xs" style="display: inline;">
                        <span style="font-size: 10px;color: #3797d4;vertical-align:bottom;">Employer Services</span>
                    </span>
                </a>
            </div>
            <ul class="nav navbar-top-links navbar-left">
                <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
                <li>
                    <form role="search" class="app-search hidden-xs m-r-10">
                        <input type="text" placeholder="Search..." class="form-control"> <a href=""><i class="fa fa-search"></i></a>
                    </form>
                </li>
            </ul>

            <ul class="nav navbar-top-links navbar-right pull-right hidden-xs">
                <li class="dropdown">
                    <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                        <i class="icon-envelope"></i>
                        <div class="notify" *ngIf="threads.length>0">
                            <span class="heartbit"></span>
                            <span class="point"></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu mailbox animated bounceInDown">
                        <li>
                            <div class="drop-title" *ngIf="threads?.length>0">You have {{threads.length}} new messages</div>
                            <div class="drop-title" *ngIf="threads?.length==0">No new message</div>
                        </li>
                        <li>
                            <div class="message-center">
                                <a href="javascript:void(0);" *ngFor="let thread of threads" (click)="read(thread)">
                                    <div class="user-img">
                                         <img src="{{thread.messages[thread.messages.length-1].owner.profilePic ? baseUrl + thread.messages[thread.messages.length-1].owner.profilePic.container + '/' + thread.messages[thread.messages.length-1].owner.profilePic.name : 'assets/images/profile.png'}}"
                                          alt="user" class="img-circle">
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>{{thread.messages[thread.messages.length-1].owner.firstName + ' ' + thread.messages[thread.messages.length-1].owner.lastName}}</h5>
                                        <span class="mail-desc">{{thread.messages[thread.messages.length-1].text}}</span>
                                        <span class="time">{{thread.messages[thread.messages.length-1].createdAt | date:'shortTime'}}</span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <a class="text-center" href="javascript:void(0);" [routerLink]="['/employer/inbox']">
                                <strong>See all messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>