<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="white-box">
        <div class="white-box">
          <div class="user-bg">
            <!--<img width="100%" alt="user" src="../plugins/images/users/varun.jpg">-->
            <div class="overlay-box">
              <div class="user-content">
                <a href="javascript:void(0)"><img [src]="profileImageSrc" class="thumb-lg img-circle" alt="img"></a>
                <h4 class="text-white">{{ _employerDataProvider?.storage?.authUser?.firstName }} {{ _employerDataProvider?.storage?.authUser?.lastName}}</h4>
                <h5 class="text-white">{{_employerDataProvider?.storage?.authUser?.email}}</h5>
              </div>
            </div>
          </div>
        </div>
        <div>
          <ul class="nav tabs-vertical">

            <li class="tab" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
              <a [routerLink]="['profileSetting']" data-toggle="tab"><span><i class="fa fa-user"></i></span>&nbsp;&nbsp;&nbsp;Profile Settings</a>
            </li>

            <li class="tab" routerLinkActive="active">
              <a [routerLink]="['securitySetting']" data-toggle="tab"><span><i class="fa fa-lock"></i></span>&nbsp;&nbsp;&nbsp;Security Settings</a>
            </li>

            <li class="tab" routerLinkActive="active">
              <a [routerLink]="['notificationSetting']" data-toggle="tab"><span><i class="fa fa-bell"></i></span>&nbsp;&nbsp;&nbsp;Notification Settings</a>
            </li>

            <li class="tab" routerLinkActive="active">
              <a [routerLink]="['activeSessions']" data-toggle="tab"><span><i class="ti-settings"></i></span>&nbsp;&nbsp;&nbsp;Active Sessions</a>
            </li>

            <li class="tab" routerLinkActive="active">
              <a [routerLink]="['trustedDevices']" data-toggle="tab"><span><i class="fa fa-desktop"></i></span>&nbsp;&nbsp;&nbsp;Trusted Devices</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-xs-12">
      <div class="white-box">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
